{% extends "todolist/base.html" %}
{% load static %}

{% block 标题 %}
您的个人待办清单
{% endblock 标题 %}

{% block css %}
{% static 'todolist/css/home.css' %}
{% endblock css %}

{% block 主页高亮 %}active{% endblock 主页高亮 %}
{% block 主页跳转 %}#{% endblock 主页跳转 %}

{% block 主体 %}

{% if 警告 %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>
        <center>{{ 警告 }}</center>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if 信息 %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong>
        <center>{{ 信息 }}</center>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>序号</th>
            <th>待办事项</th>
            <th>编辑</th>
            <th>划掉</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody class="no-underline">
        {% for each in 待办事项 %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            {% if each.done %}
            <td class="text-dark" id="line-through">{{ each.thing }}</td>
            <td class="text-secondary">不可编辑</td>
            <td>
                <form action="{% url 'todolist:划掉' each.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-sm">撤销</button>
                    <input name="完成状态" type="hidden" value="未完成">
                </form>
            </td>
            <td>
                <form action="{% url 'todolist:删除' each.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">删除</button>
                </form>
            </td>
            {% else %}
            <td>{{ each.thing }}</td>
            <td>
                <a href="{% url 'todolist:编辑' each.id %}">
                    <button type="submit" class="btn btn-primary btn-sm">编辑</button>
                </a>
            </td>
            <td>
                <form action="{% url 'todolist:划掉' each.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">划掉</button>
                    <input name="完成状态" type="hidden" value="已完成">
                </form>
            </td>
            <td>


                <button data-toggle="modal" data-target="#exampleModal{{ forloop.counter }}" type="submit" class="btn btn-primary btn-sm">
                    删除
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModal{{ forloop.counter }}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModal{{ forloop.counter }}Label">友情提示</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                您确定要删除 <strong>未办事项：<span class="text-primary">{{ each.thing }}</span></strong>吗？
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <form action="{% url 'todolist:删除' each.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">确定</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            {% endif %}

        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock 主体 %}