body {
    background-color: #f7f9ff;
}
.content {
    margin-top: 100px;
}
.nav-font-size {
    font-size: 18px;
    line-height: 32px;
}
#add {
    margin-right: 80px;
}
main {
    font-size: 1.1em;
}